# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
db.sqlite3

# Ignore env files (if you're using environment variables)
.env
.venv/
env/
venv/
ENV/

# Ignore Django migrations
**/migrations/

# Ignore virtual environments
.Python
*.env
*.venv
*.env.bak
*.venv.bak

# Ignore IDE/editor config files
.vscode/
.idea/
*.swp
*.swo

# Ignore node_modules (if using for frontend assets)
node_modules/

# Ignore static files (if you're generating them with Django's collectstatic)
staticfiles/
static/

# Ignore media files (if you store user-uploaded files locally)
media/

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
